body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    background: #000;
    z-index: 1030;
}

header #logo {
    margin-top: 15px;
    width: 90px;
}

header ul {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

li a {
    text-decoration: none;
    font-size: 18px;
    font-family: arial;
    color: #767676;
    padding: 0px 20px;
    transition: linear 0.5s;
}

li a:hover {
    color: #f8f9fa;
    transition: linear 0.5s;
}

.active {
    color: #f8f9fa;
}

h1 {
    text-align: center;
    font-size: 5em;
    color: #767676;
}

hr {
    background: #767676;
    margin-left: 150px;
    margin-right: 150px;
}

.text {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.text p {
    margin-top: 40px;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 2.0em;
    margin-bottom: 50px;
    text-align: justify;
}

.text img {
    width: 74%;
}

@media only screen and (max-width: 1400px) {
    .text img {
        width: 70%;
    }
}
@media only screen and (max-width: 1024px) {
    .text p {
        margin-top: 50px;
        padding-left: 60px;
        padding-right: 60px;
        margin-bottom: 50px;
    }
    .text img {
        width: 88%;
    }
}

