body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    background: #000;
    z-index: 1030;
}

header #logo {
    margin-top: 15px;
    width: 90px;
}

header ul {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

li a {
    text-decoration: none;
    font-size: 18px;
    font-family: arial;
    color: #767676;
    padding: 0px 20px;
    transition: linear 0.5s;
}

li a:hover {
    color: #f8f9fa;
    transition: linear 0.5s;
}

.active {
    color: #f8f9fa;
}

.bg {
    background: url('../img/lab1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    margin-top: -100px;
}

.contents {
    background: rgba(0, 0, 0, 0.6);
    height: 600px;
}

h1 {
    text-align: center;
    font-size: 6em;
    color: #e3e3e3;
    padding-top: 230px;
}

.text {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.text p {
    margin-top: 40px;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 2.0em;
    text-align: justify;
}

@media only screen and (max-width: 1024px) {
    .text p {
        margin-top: 50px;
        padding-left: 60px;
        padding-right: 60px;
        margin-bottom: 50px;
    }
}