/*================================
# General
================================*/

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #f8f9fa;
}

/* Smooth Scroll - The challenge with css smooth scroll is, it is not cross browser */

/* html {
    scroll-behavior: smooth;
} */

* {
    font-family: 'Ruluko', sans-serif;
}

h1 {
    font-family: 'Sirin Stencil', cursive;
}

h3 {
    font-family: 'Expletus Sans', cursive;
}

span {
    color: #daae1f;
}

/* --- Ordering --- */

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

/*================================
# Header
================================*/

.nav {
    border-bottom: 1px solid #EAEAEB;
    background: #fff;
    text-align: right;
    height: 70px;
    line-height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.nav .brand {
    float: left;
    text-align: left;
    text-decoration: none;
    margin-left: 100px;
    font-size: 26px;
    /* font-style: italic; */
    line-height: 70px;
    color: #000;
}

.menu {
    margin: 0 100px 0 0;
}

.menu .active {
    color: #000;
    border-left: #daae1f 3px solid;
    border-width: 4px;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    padding-left: 8px;
    margin: 0 10px;
    line-height: 70px;
    font-size: 17px;
}

label {
    margin: 0 40px 0 0;
    font-size: 30px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

/* Media Query */

@media only screen and (max-width: 1024px) {
    .nav .brand {
        margin-left: 20px;
        font-size: 26px;
    }
    .menu {
        margin: 0 20px 0 0;
    }
}

@media only screen and (max-width: 668px) {
    .nav .brand {
        margin-left: 20px;
        font-size: 26px;
    }
    label {
        display: block;
        cursor: pointer;
        margin: 0 20px 0 0;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        margin: 0 20px 0 0;
        background: #f8f9fa;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
    #toggle:checked+.menu {
        display: block;
    }
}

/* End Query */

/*================================
# Main
================================*/

main {
    position: relative;
    padding-top: 70px;
}

.contents {
    background: url('../img/work3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 700px;
}

.hero {
    background: rgba(0, 0, 0, 0.7);
    height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    color: #f8f9fa;
}

.hero-text {
    width: 60%;
    margin-top: 110px;
}

.hero-text h5 {
    font-size: 20px;
    width: 60%;
    padding-left: 100px;
    text-align: left;
}

.hero-text h1 {
    width: 54%;
    font-size: 70px;
    margin-top: 0px;
    padding-left: 100px;
    text-align: left;
}

.hero-text p {
    width: 60%;
    text-align: left;
    margin-top: -35px;
    line-height: 1.8rem;
    padding-left: 100px;
    font-size: 18px;
}

.hero-text .btn {
    border: none;
    color: #f8f9fa;
    background: transparent;
    width: 25%;
    padding: 18px 10px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 50px;
    font-size: 18px;
    border: 1px solid #daae1f;
    transition: all .5s;
}

.hero-text .btn:hover {
    cursor: pointer;
    background: #daae1f;
    color: #000;
}

/* Media Query */

@media only screen and (max-width: 1024px) {
    .hero-text {
        width: 50%;
        display: none;
    }
    .hero-text h1 {
        font-size: 45px;
        padding-left: 100px;
        text-align: left;
    }
    .hero-text p {
        text-align: left;
        margin-top: -25px;
        line-height: 1.8rem;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .hero-text {
        display: none;
    }
}

/* End Query */

.hero .card {
    width: 25%;
    margin-top: 120px;
    height: 450px;
    background-image: linear-gradient(360deg, rgba(48, 44, 44, 0.6), rgba(129, 99, 42, 0.6));
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 0.25rem;
    color: #000;
    margin-right: 100px;
}

.hero #log {
    animation: zoom 1s alternate;
}

.hero #forgot-p {
    display: none;
    height: 360px;
    animation: zoom 1s alternate;
}

.hero #reg {
    margin-top: 65px;
    display: none;
    height: 570px;
    animation: zoom 1s alternate;
}

/* Media Query */

@media only screen and (max-width: 1024px) {
    .hero #log {
        margin-top: 120px;
    }
    .hero #forgot-p {
        margin-top: 120px;
    }
    .hero #reg {
        margin-top: 65px;
    }
}

@media only screen and (max-width: 768px) {
    .hero #log {
        margin-top: 110px;
    }
    .hero #forgot-p {
        margin-top: 120px;
    }
    .hero #reg {
        margin-top: 65px;
    }
}

@media only screen and (max-width: 576px) {
    .hero #log, .hero #forgot-p, .hero #reg {
        margin-top: 55px;
    }
}

/* End Query */

@keyframes zoom {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: scale(1.0);
    }
}

/* Media Query */

@media only screen and (max-width: 1400px) {
    .hero .card {
        width: 35%;
        margin: 0px 0px;
        margin-right: 40px;
        margin-top: 120px;
    }
}

@media only screen and (max-width: 1024px) {
    .hero .card {
        width: 70%;
        margin: 0px 0px;
        margin-right: 0px;
        margin-top: 120px;
    }
}

@media only screen and (max-width: 768px) {
    .hero .card {
        width: 80%;
        margin: 0px 0px;
        margin-right: 0px;
        margin-top: 80px;
    }
}

@media only screen and (max-width: 576px) {
    .hero .card {
        width: 80%;
        margin: 0px 0px;
        margin-right: 0px;
        margin-top: 80px;
    }
}

@media only screen and (max-width: 476px) {
    .hero .card {
        width: 90%;
        margin: 0px 0px;
        margin-right: 0px;
        margin-top: 80px;
    }
}

@media only screen and (max-width: 400px) {
    .hero .card {
        width: 95%;
        margin: 0px 0px;
        margin-right: 0px;
        margin-top: 80px;
    }
}

/* End Query */

.hero form {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    padding: 40px;
}

::placeholder {
    font-size: 16px;
}

.hero form h4 {
    text-align: center;
    font-size: 20px;
    color: #f8f9fa;
}

.hero form a {
    text-decoration: none;
    color: #f8f9fa;
    font-size: 16px;
}

.hero #reg form {
    margin-top: -10px;
}

.hero #reg #check {
    padding: 0px 0px;
    margin: 0 8px;
    margin-top: 20px;
    border: none;
}

.hero #reg p {
    font-size: 16px;
    color: #f8f9fa;
    margin-top: -15px;
    margin-left: 30px;
}

.hero hr {
    background: #daae1f;
    width: 100%;
}

/* Media Query */

@media only screen and (max-width: 1400px) {
    .hero #reg #check {
        padding: 0px 0px;
        margin: 0 18px;
        margin-top: 20px;
        border: none;
    }
    .hero #reg p {
        font-size: 16px;
        color: #f8f9fa;
        margin-top: -15px;
        margin-left: 40px;
    }
    .hero hr {
        background: #daae1f;
        width: 85%;
    }
}

@media only screen and (max-width: 1024px) {
    .hero #reg #check {
        padding: 0px 0px;
        margin: 0 43px;
        margin-top: 20px;
        border: none;
    }
    .hero #reg p {
        font-size: 16px;
        color: #f8f9fa;
        margin-top: -15px;
        margin-left: 65px;
    }
    .hero hr {
        background: #daae1f;
        width: 85%;
    }
}

@media only screen and (max-width: 576px) {
    .hero #reg #check {
        padding: 0px 0px;
        margin: 0 8px;
        margin-top: 20px;
        border: none;
    }
    .hero #reg p {
        font-size: 16px;
        color: #f8f9fa;
        margin-top: -15px;
        margin-left: 30px;
    }
    .hero hr {
        background: #daae1f;
        width: 80%;
    }
}

/* End Query */

.hero input {
    padding: 12px 24px;
    margin: 0 auto;
    margin-top: 15px;
    border: none;
    border: 1px solid #daae1f;
    border-radius: 5px;
}

.hero input[type=text], .hero input[type=email], .hero input[type=password] {
    width: 80%;
}

.hero input[type=submit] {
    width: 97%;
    background: transparent;
    color: #f8f9fa;
    border: 1px solid #daae1f;
    font-size: 16px;
    transition: all .5s;
}

.hero input[type=submit]:hover {
    background: #daae1f;
    cursor: pointer;
    color: #000;
}

.hero #reg input[type=submit] {
    margin-top: 5px;
}

.hero .forgot {
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
    margin-top: 20px;
}

.forgot a#sign-up {
    margin: 0 15px;
    color: #daae1f;
    font-size: 16px;
}

.hero .p-recovery {
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
    margin-top: 20px;
}

.p-recovery a#sign-in {
    color: #daae1f;
    font-size: 16px;
}

.hero .account {
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
    margin-top: 20px;
    color: #f8f9fa;
}

.account a#sign-in_2 {
    margin: 0 15px;
    color: #daae1f;
    font-size: 16px;
}

/* Media Query */

@media only screen and (max-width: 1400px) {
    .hero input[type=submit] {
        width: 93%;
    }
    .hero .forgot {
        display: flex;
        justify-content: space-evenly;
        flex-flow: wrap row;
        margin-top: 35px;
    }
}

@media only screen and (max-width: 1024px) {
    .hero form {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        padding: 30px;
    }
    .hero input[type=submit] {
        width: 88%;
    }
    .hero .forgot {
        display: flex;
        justify-content: space-evenly;
        flex-flow: wrap row;
        margin-top: 35px;
    }
}

@media only screen and (max-width: 768px) {
    .hero form {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        padding: 30px;
    }
    .hero input[type=submit] {
        width: 89%;
    }
    .hero .forgot {
        display: flex;
        justify-content: space-evenly;
        flex-flow: wrap row;
        margin-top: 35px;
    }
}

@media only screen and (max-width: 576px) {
    .hero input[type=submit] {
        width: 97%;
    }
}

@media only screen and (max-width: 320px) {
    .hero input[type=submit] {
        width: 100%;
    }
}

/* End Query */

/* == Portifolio == */

#portifolio {
    margin-top: 30px;
}

#portifolio .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#portifolio h1 {
    text-align: center;
    font-size: 36px;
}

#portifolio .row {
    padding-top: 30px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#portifolio .card {
    width: 23%;
    height: auto;
    margin: 0 10px;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 0.25rem;
}

/* Media Query */

@media only screen and (max-width: 1400px) {
    #portifolio .card {
        width: 30%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1060px) {
    #portifolio .card {
        width: 45%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    #portifolio .card {
        width: 90%;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 576px) {
    #portifolio .card {
        width: 90%;
        margin-bottom: 25px;
    }
}

/* End Query */

#portifolio .card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
}

#portifolio .card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    margin-bottom: -10px;
}

#portifolio .inner {
    overflow: hidden;
}

#portifolio .img-fluid {
    max-width: 100%;
    height: auto;
    transition: linear .5s;
}

#portifolio .img-fluid:hover {
    /* filter: grayscale(80%); */
    transform: scale(1.3);
    transition: linear .5s;
}

#portifolio .card-body {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
}

#portifolio .card-body h3, p, a {
    line-height: normal;
}

#portifolio .card-body p {
    line-height: 1.8rem;
    text-align: justify;
}

#portifolio .card-body a {
    text-decoration: none;
    color: #daae1f;
}

#portifolio .card-body .dots {
    font-size: 10px;
}

/* == Services == */

#services {
    margin-top: 30px;
}

/* Media Query */

@media only screen and (max-width: 768px) {
    #services {
        margin-top: 0px;
    }
}

/* End Query */

#services .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#services h1 {
    text-align: center;
    font-size: 36px;
}

#services .row {
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
}

#services .card {
    width: 23%;
    height: auto;
    margin: 0 10px;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 0.25rem;
}

/* Media Query */

@media only screen and (max-width: 1400px) {
    #services .card {
        width: 30%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1060px) {
    #services .card {
        width: 45%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    #services .card {
        width: 90%;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 576px) {
    #services .card {
        width: 90%;
        margin-bottom: 25px;
    }
}

/* End Query */

#services .card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
}

#services .card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    margin-bottom: -10px;
}

#services .inner {
    overflow: hidden;
}

#services .img-fluid {
    max-width: 100%;
    height: auto;
    transition: linear 1s;
}

#services .img-fluid:hover {
    /* filter: grayscale(80%); */
    transition: linear 1s;
    transform: scale(1.3);
}

#services .card-body {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
}

#services .card-body h3, p, a {
    line-height: normal;
}

#services .card-body p {
    line-height: 1.8rem;
    text-align: justify;
}

#services .card-body a {
    text-decoration: none;
    color: #daae1f;
}

#services .card-body .dots {
    font-size: 10px;
}

/* == Projects == */

#projects {
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Media Query */

@media only screen and (max-width: 768px) {
    #projects {
        margin-top: -50px;
    }
}

/* End Query */

#projects .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#projects h1 {
    text-align: center;
    font-size: 36px;
}

#projects .row {
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
}

#projects .card {
    width: 38%;
    height: auto;
    margin: 0 0px;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 0.25rem;
}

/* Media Query */

@media only screen and (max-width: 1400px) {
    #projects .card {
        width: 43%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1060px) {
    #projects .card {
        width: 45%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    #projects .row {
        padding-top: 30px;
        padding-bottom: 0px;
    }
    #projects .card {
        width: 90%;
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 576px) {
    #projects .card {
        width: 90%;
        margin-bottom: 0px;
    }
    #projects .row {
        padding-bottom: 0px;
    }
}

/* End Query */

#projects .card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
}

#projects .card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    margin-bottom: -10px;
}

#projects .inner {
    overflow: hidden;
}

#projects .img-fluid {
    max-width: 100%;
    height: auto;
    transition: linear .4s;
    transform: rotate(5deg);
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    #projects .img-fluid {
        height: 450px;
    }
}

#projects .img-fluid:hover {
    filter: grayscale(80%);
    /* transform: rotate(0deg); */
}

#projects .card-body {
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 35px;
}

#projects .card-body h3, p, a {
    line-height: normal;
}

#projects .card-body p {
    line-height: 1.8rem;
    text-align: justify;
}

#projects .card-body a {
    text-decoration: none;
    color: #daae1f;
}

#projects .card-body .dots {
    font-size: 10px;
}

/* == FAQ == */

#faq {
    margin-top: -10px;
}

/* Media Query */

@media only screen and (max-width: 768px) {
    #faq {
        margin-top: -50px;
    }
}

/* End Query */

#faq .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#faq h1 {
    text-align: center;
    font-size: 36px;
}

#faq .row {
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
}

/* Media Query */

@media only screen and (max-width: 768px) {
    #faq .row {
        margin-top: -20px;
    }
    #faq h1 {
        padding-top: 60px;
    }
}

@media only screen and (max-width: 576px) {
    #faq .row {
        margin-top: -25px;
    }
    #faq h1 {
        padding-top: 50px;
    }
}

/* End Query */

#faq .card {
    width: 60%;
    height: auto;
    margin: 0 0px;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 0.25rem;
    border-left: 80px groove;
    border-image: url(../img/work3.jpg) fill;
}

/* Media Query */

@media only screen and (max-width: 1400px) {
    #faq .card {
        width: 40%;
        margin: 15px 15px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1060px) {
    #faq .card {
        width: 80%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    #faq .row {
        padding-top: 30px;
    }
    #faq .card {
        width: 80%;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 576px) {
    #faq .card {
        width: 90%;
        margin-bottom: 25px;
    }
}

/* End Query */

#faq .card-body {
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 35px;
}

#faq .card-body h3, p, a {
    line-height: normal;
}

#faq .card-body p {
    line-height: 1.8rem;
    text-align: justify;
}

#faq .card-body a {
    text-decoration: none;
    color: #daae1f;
}

#faq .card-body .dots {
    font-size: 10px;
}

/* == Testimonials == */

#testimonials {
    margin-top: 0px;
    background: #f0efef;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Media Query */

@media only screen and (max-width: 768px) {
    #testimonials {
        margin-top: 0px;
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 576px) {
    #testimonials {
        padding-bottom: 0px;
    }
}

/* End Query */

#testimonials .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#testimonials h1 {
    text-align: center;
    font-size: 36px;
}

#testimonials .row {
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
}

#testimonials .card {
    width: 23%;
    height: auto;
    margin: 0 10px;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 0.25rem;
}

/* Media Query */

@media only screen and (max-width: 1400px) {
    #testimonials .card {
        width: 30%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1060px) {
    #testimonials .card {
        width: 45%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    #testimonials .card {
        width: 90%;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 576px) {
    #testimonials .card {
        width: 90%;
        margin-bottom: 25px;
    }
}

/* End Query */

#testimonials .card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
}

#testimonials .card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    margin-bottom: -10px;
}

#testimonials .inner {
    overflow: hidden;
}

#testimonials .img-fluid {
    max-width: 100%;
    height: auto;
    transition: linear 1s;
}

#testimonials .img-fluid:hover {
    filter: grayscale(80%);
    transition: linear 1s;
    transform: scale(1.3);
}

#testimonials .card-body {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
}

#testimonials .card-body h3, p, a {
    line-height: normal;
}

#testimonials .card-body h3 {
    color: #daae1f;
}

#testimonials .card-body p {
    line-height: 1.8rem;
    text-align: justify;
}

#testimonials .card-body a {
    text-decoration: none;
    color: #daae1f;
}

#testimonials .personal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

#testimonials .personal .details {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 0px;
}

#testimonials .personal .image {
    height: 85px;
    width: 85px;
    padding: 3px;
    background: #daae1f;
    border-radius: 50%;
}

#testimonials .personal .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #fff;
    border-radius: 50%;
}

#testimonials .personal p {
    color: #767676;
    font-weight: 600;
}

#testimonials .personal .stars {
    margin-top: -10px;
    color: #daae1f;
    font-size: 14px;
}

/*================================
# Footer
================================*/

footer {
    /* margin-top: 30px; */
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/work5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer .get-year, #year {
    color: #767676;
    text-align: center;
    /* letter-spacing: 3px; */
}

/* == Newsletter == */

#newsletter .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#newsletter h1 {
    text-align: center;
    font-size: 36px;
    padding-top: 50px;
    color: #daae1f;
}

#newsletter .row {
    padding-top: 0px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
}

/* Media Query */

@media only screen and (max-width: 768px) {
    #newsletter .row {
        padding-top: 0px;
    }
}

@media only screen and (max-width: 576px) {
    #newsletter .row {
        padding-top: 0px;
    }
    #newsletter h1 {
        font-size: 30px;
    }
}

/* End Query */

#newsletter form {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#newsletter input {
    margin: 5px;
    width: 25%;
    padding: 12px 22px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#newsletter input[type=submit] {
    background: transparent;
    color: #f8f9fa;
    border: 1px solid #caaa40;
    transition: all .5s;
}

#newsletter input[type=submit]:hover {
    cursor: pointer;
    background: #caaa40;
    color: #000;
    transition: all .5s;
    border: 1px solid #caaa40;
}

/* Media Query */

@media only screen and (max-width: 576px) {
    #newsletter form {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        width: 100%;
    }
    #newsletter input {
        margin: 0 auto;
        margin-bottom: 15px;
        width: 70%;
    }
    #newsletter input[type=submit] {
        width: 82%;
    }
}

/* End Query */

#newsletter .social {
    padding-top: 0px;
    padding-bottom: 50px;
}

#newsletter a {
    font-size: 25px;
    color: #767676;
    margin: 0 10px;
    transition: all .5s;
}

#newsletter a:hover {
    transition: all .5s;
    color: #caaa40;
}

/* == Go-Top == */

.go-top {
    position: fixed;
    bottom: 16px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

.go-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.go-top a {
    background: #daae1f;
    border-radius: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    transition: all .5s;
    animation: colur 1s infinite alternate;
}

@keyframes colur {
    from {
        color: #000;
    }
    to {
        color: #f8f9fa;
    }
}

.go-top a:hover {
    background: #767676;
    color: #daae1f;
    transition: all .5s;
    animation: colour 1s infinite alternate;
}

@keyframes colour {
    from {
        color: #000;
    }
    to {
        color: #daae1f;
    }
}