/* ========================================
# General
==========================================*/

@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

* {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Laila', serif;
}

/* ========================================
# Header - Navigation
==========================================*/

.nav {
    display: flex;
    justify-content: space-around;
    height: 80px;
    background: orangered;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1030;
}

#active {
    color: #fff;
    transition: all .5s;
    font-family: 'Merienda One', cursive;
}

#active:hover {
    color: #e3e3e3;
}

.nav .navbar-brand {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: 'Merienda One', cursive;
}

.nav .logo {
    width: 100px;
    margin-left: -15px;
}

.nav .navbar-nav {
    list-style: none;
    display: inline-flex;
    align-items: center;
}

.nav .navbar-nav .nav-item {
    margin: 0 15px;
}

.nav .navbar-nav .nav-item .nav-link:link {
    text-decoration: none;
    color: #e3e3e3;
    font-size: 17px;
    font-weight: 600;
    transition: all .5s;
}

.nav .navbar-nav .nav-item .nav-link:visited {
    text-decoration: none;
    color: #e3e3e3;
}

.nav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
}

.nav .menu-bars {
    display: none;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding: 3px 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.nav .menu-bars:hover {
    cursor: pointer;
}

.nav .menu-bars .bars {
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
}

/* Media Query */

@media only screen and (max-width: 968px) {
    body {
        overflow-y: scroll;
    }
    .nav .navbar-brand {
        font-size: 25px;
        line-height: 1px;
    }
    .nav .navbar-nav {
        background: orangered;
        display: block;
        position: absolute;
        top: 63px;
        left: 0;
        right: 0;
        height: 800px;
    }
    .nav .navbar-nav .nav-item {
        margin: 60px 0px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        overflow-y: scroll;
    }
    .nav .navbar-brand {
        font-size: 25px;
        line-height: 1px;
    }
    .nav .navbar-nav {
        background: orangered;
        position: absolute;
        top: 63px;
        left: 0;
        right: 0;
        height: 1000px;
        display: none;
    }
    .nav .navbar-nav .nav-item {
        margin: 60px 0px;
    }
    .nav .menu-bars {
        display: block;
    }
}

@media only screen and (max-width: 576px) {
    body {
        overflow-y: scroll;
    }
    .nav .navbar-brand {
        font-size: 15px;
        line-height: 1px;
    }
    .nav .navbar-nav {
        background: orangered;
        position: absolute;
        top: 63px;
        left: 0;
        right: 0;
        height: 800px;
        display: none;
    }
    .nav .navbar-nav .nav-item {
        margin: 60px 0px;
    }
    .nav .menu-bars {
        display: block;
    }
    .nav-active {
        display: block;
    }
}

/* End Query */

/* ========================================
# Hero
==========================================*/

#hero {
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/asali/asali2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

#hero .container {
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 20px;
    grid-column-gap: 60px;
    grid-row-gap: 20px;
    height: 800px;
}

#hero .hero-title {
    width: 70%;
    color: #fff;
    margin-left: auto;
}

#hero .hero-title h1 {
    font-size: 90px;
    font-weight: 600;
    font-family: 'Merienda One', cursive;
    line-height: 0px;
}

#hero .hero-title p {
    font-size: 17px;
    line-height: 1.8em;
    font-family: 'Laila', serif;
}

#hero .hero-title .btn {
    text-decoration: none;
    background: rgba(255, 69, 0, 0.9);
    border: 1px solid orangered;
    color: #fff;
    padding: 18px 60px;
    line-height: 5.3rem;
    border-radius: 50px;
    font-family: 'Laila', serif;
    transition: all .5s;
}

#hero .hero-title .btn:hover {
    border: 1px solid orangered;
    background: none;
}

#hero .hero-illu {
    margin-right: auto;
}

#hero .hero-illu img {
    width: 480px;
}

#hero .hero-illu img.ginger {
    transform: rotate(-20deg);
    margin-bottom: -40px;
}

/* Media Query */

@media only screen and (max-width: 1400px) {
    #hero .hero-title {
        width: 80%;
    }
    #hero .hero-title h1 {
        font-size: 40px;
    }
    #hero .hero-illu img {
        width: 250px;
    }
}

@media only screen and (max-width: 576px) {
    #hero .container {
        display: grid;
        place-content: center;
        place-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 800px;
    }
    #hero .hero-illu {
        text-align: center;
        margin-top: -350px;
    }
    #hero .hero-illu img {
        width: 250px;
    }
    #hero .hero-illu img.ginger {
        transform: rotate(-360deg);
        margin-bottom: -20px;
    }
    #hero .hero-title .btn {
        line-height: 6.5rem;
        padding: 18px 100px;
    }
    #hero .hero-title {
        width: 85%;
        margin-left: 15px;
        margin-top: -560px;
        order: 1;
        padding-bottom: 0px;
    }
    #hero .hero-title h1 {
        font-size: 40px;
        line-height: 2.5rem;
    }
}

@media only screen and (max-width: 376px) {
    #hero .container {
        display: grid;
        place-content: center;
        place-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 800px;
    }
    #hero .hero-illu {
        text-align: center;
        margin-top: -350px;
    }
    #hero .hero-illu img {
        width: 250px;
    }
    #hero .hero-illu img.ginger {
        transform: rotate(-360deg);
        margin-bottom: -20px;
    }
    #hero .hero-title .btn {
        line-height: 6.5rem;
        padding: 18px 90px;
    }
    #hero .hero-title {
        width: 85%;
        margin-left: 15px;
        margin-top: -560px;
        order: 1;
        padding-bottom: 0px;
    }
    #hero .hero-title h1 {
        font-size: 40px;
        line-height: 2.5rem;
    }
}

@media only screen and (max-width: 325px) {
    #hero .container {
        display: grid;
        place-content: center;
        place-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 800px;
    }
    #hero .hero-illu {
        text-align: center;
        margin-top: -360px;
    }
    #hero .hero-illu img {
        width: 250px;
    }
    #hero .hero-illu img.ginger {
        transform: rotate(-360deg);
        margin-bottom: -20px;
    }
    #hero .hero-title {
        width: 85%;
        margin-left: 15px;
        margin-top: -600px;
        order: 1;
        padding-bottom: 0px;
    }
    #hero .hero-title h1 {
        font-size: 40px;
        line-height: 2.0rem;
    }
    #hero .hero-title .btn {
        line-height: 6.5rem;
        padding: 18px 75px;
    }
}

@media only screen and (max-width: 300px) {
    #hero .container {
        display: grid;
        place-content: center;
        place-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 800px;
    }
    #hero .hero-illu {
        text-align: center;
        margin-top: -365px;
    }
    #hero .hero-illu img {
        width: 250px;
    }
    #hero .hero-illu img.ginger {
        transform: rotate(-360deg);
        margin-bottom: -20px;
    }
    #hero .hero-title {
        width: 85%;
        margin-left: 15px;
        margin-top: -600px;
        order: 1;
        padding-bottom: 0px;
    }
    #hero .hero-title h1 {
        font-size: 30px;
        line-height: 1.8rem;
    }
    #hero .hero-title .btn {
        line-height: 4.8rem;
        padding: 16px 55px;
    }
}

/* End Query */

/* ========================================
# About
==========================================*/

#about {
    padding-top: 60px;
    padding-bottom: 90px;
    /* background: #f8f9fa; */
}

#about .container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#about h1 {
    text-align: center;
    font-family: 'Merienda One', cursive;
    font-size: 30px;
    margin-bottom: 40px;
}

#about .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

#about .about-img {
    width: 400px;
    margin: 0 60px;
}

#about .about-img img {
    width: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#about .about-text {
    margin: 0 30px;
    width: 100%;
}

#about .about-text p {
    line-height: 2.3rem;
    font-family: 'Laila', serif;
    font-size: 17px;
    margin-top: 30px;
}

/* ========================================
# Bidhaa
==========================================*/

#bidhaa {
    padding-top: 120px;
    padding-bottom: 90px;
    background: #f8f9fa;
}

#bidhaa .container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#bidhaa h1 {
    text-align: center;
    font-family: 'Merienda One', cursive;
    font-size: 30px;
    /* color: #fff; */
    margin-bottom: 80px;
}

#bidhaa .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

#bidhaa .bidhaa-img {
    width: 400px;
    border-radius: 50%;
    margin: 0 20px;
}

#bidhaa .bidhaa-img img {
    width: 400px;
}

#bidhaa .bidhaa-text {
    margin: 0 30px;
    width: 100%;
}

#bidhaa .bidhaa-text p {
    line-height: 2.3rem;
    font-family: 'Laila', serif;
    font-size: 17px;
}

#bidhaa .card {
    width: 30%;
    height: auto;
    margin: 0 10px;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 0.25rem;
}

#bidhaa .card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
}

#bidhaa .card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    margin-bottom: -10px;
}

#bidhaa .inner {
    overflow: hidden;
}

#bidhaa .img-fluid {
    max-width: 100%;
    height: auto;
    transition: linear .5s;
}

#bidhaa .img-fluid:hover {
    transform: scale(1.2);
}

#bidhaa .card-body {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
}

#bidhaa .card-body h3, p, a {
    line-height: normal;
    font-family: 'Laila', serif;
}

#bidhaa .card-body p {
    line-height: 1.8rem;
    text-align: justify;
}

#bidhaa .card-body a {
    text-decoration: none;
    color: orangered;
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 9px 24px;
    line-height: 3.0rem;
    font-size: 15px;
    transition: all .5s;
}

#bidhaa .card-body a:hover {
    color: #fff;
    background: orangered;
    opacity: 0.9;
}

/* Media Query */

@media only screen and (max-width: 1400px) {
    #bidhaa .card {
        width: 30%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1060px) {
    #bidhaa .card {
        width: 45%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    #bidhaa .card {
        width: 80%;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 576px) {
    #bidhaa .card {
        width: 90%;
        margin-bottom: 25px;
    }
}

/* End Query */

/* ========================================
# Mafuta
==========================================*/

#mafuta {
    padding-top: 60px;
    padding-bottom: 90px;
    background: #fff;
}

#mafuta .container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#mafuta h1 {
    text-align: center;
    font-family: 'Merienda One', cursive;
    font-size: 30px;
    margin-bottom: 60px;
}

#mafuta .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

#mafuta .mafuta-img {
    width: 400px;
    margin-right: 180px;
}

#mafuta .mafuta-img img {
    width: 450px;
}

#mafuta .mafuta-text {
    width: 100%;
}

#mafuta .mafuta-text p {
    line-height: 2.0rem;
    font-family: 'Laila', serif;
    font-size: 17px;
    margin-top: -0px;
}

#mafuta .mafuta-text .btn {
    line-height: 3.0;
    padding: 10px 24px;
    color: orangered;
    border-radius: 5px;
    text-decoration: none;
    opacity: 0.9;
    border: 1px solid orangered;
    transition: all .5s;
}

#mafuta .mafuta-text .btn:hover {
    background: orangered;
    color: #fff;
}

/* ========================================
# Mafuta-2
==========================================*/

#mafuta-2 {
    padding-top: 80px;
    padding-bottom: 90px;
    background: #f8f9fa;
}

#mafuta-2 .container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#mafuta-2 h1 {
    text-align: center;
    font-family: 'Merienda One', cursive;
    font-size: 30px;
    margin-bottom: 80px;
}

#mafuta-2 .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

#mafuta-2 #mf-2 {
    margin-top: 30px;
}

#mafuta-2 .mafuta-2-img {
    width: 400px;
    border-radius: 50%;
    margin: 0 20px;
}

#mafuta-2 .mafuta-2-img img {
    width: 400px;
}

#mafuta-2 .mafuta-2-text {
    margin: 0 30px;
    width: 100%;
}

#mafuta-2 .mafuta-2-text p {
    line-height: 2.3rem;
    font-family: 'Laila', serif;
    font-size: 17px;
}

#mafuta-2 .card {
    width: 45%;
    height: auto;
    margin: 0 15px;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 0.25rem;
}

#mafuta-2 .card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
}

#mafuta-2 .card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    margin-bottom: -10px;
}

#mafuta-2 .inner {
    overflow: hidden;
}

#mafuta-2 .img-fluid {
    max-width: 100%;
    height: auto;
    transition: linear .5s;
}

#mafuta-2 .img-fluid:hover {
    transform: scale(1.2);
}

#mafuta-2 .card-body {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
}

#mafuta-2 .card-body h3, p, a {
    line-height: normal;
    font-family: 'Laila', serif;
}

#mafuta-2 .card-body p {
    line-height: 1.8rem;
    text-align: justify;
}

#mafuta-2 .card-body a {
    text-decoration: none;
    color: orangered;
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 9px 24px;
    line-height: 3.0rem;
    font-size: 15px;
    transition: all .5s;
}

#mafuta-2 .card-body a:hover {
    color: #fff;
    background: orangered;
    opacity: 0.9;
}

/* Media Query */

@media only screen and (max-width: 1400px) {
    #mafuta-2 .card {
        width: 30%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1060px) {
    #mafuta-2 .card {
        width: 45%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    #mafuta-2 .card {
        width: 80%;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 576px) {
    #mafuta-2 .card {
        width: 90%;
        margin-bottom: 25px;
    }
}

/* End Query */

/* ========================================
# Mimea
==========================================*/

#mimea {
    padding-top: 60px;
    padding-bottom: 90px;
    background: #fff;
}

#mimea .container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#mimea h1 {
    text-align: center;
    font-family: 'Merienda One', cursive;
    font-size: 30px;
    /* color: #fff; */
    margin-bottom: 60px;
}

#mimea .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

#mimea .mimea-img {
    width: 400px;
    border-radius: 50%;
    margin: 0 20px;
}

#mimea .mimea-img img {
    width: 400px;
}

#mimea .mimea-text {
    margin: 0 30px;
    width: 100%;
}

#mimea .mimea-text p {
    line-height: 2.3rem;
    font-family: 'Laila', serif;
    font-size: 17px;
}

#mimea .card {
    width: 30%;
    height: auto;
    margin: 0 10px;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 0.25rem;
}

#mimea .card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
}

#mimea .card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    margin-bottom: -10px;
}

#mimea .inner {
    overflow: hidden;
}

#mimea .img-fluid {
    max-width: 100%;
    height: auto;
    transition: linear .5s;
}

#mimea .img-fluid:hover {
    transform: scale(1.2);
}

#mimea .card-body {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
}

#mimea .card-body h3, p, a {
    line-height: normal;
    font-family: 'Laila', serif;
}

#mimea .card-body p {
    line-height: 1.8rem;
    text-align: justify;
}

#mimea .card-body a {
    text-decoration: none;
    color: orangered;
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 9px 24px;
    line-height: 3.0rem;
    font-size: 15px;
    transition: all .5s;
}

#mimea .card-body a:hover {
    color: #fff;
    background: orangered;
    opacity: 0.9;
}

/* Media Query */

@media only screen and (max-width: 1400px) {
    #mimea .card {
        width: 30%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1060px) {
    #mimea .card {
        width: 45%;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    #mimea .card {
        width: 80%;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 576px) {
    #mimea .card {
        width: 90%;
        margin-bottom: 25px;
    }
}

/* End Query */